[Unit]
Description=Starflit Object Recognition

[Service]
ExecStart=/opt/starflit/venv/bin/python /opt/starflit/raspberry/python/main.py \
    --env-file /opt/starflit/raspberry/python/.env \
    --model /opt/starflit/raspberry/python/mobilenet_v2.tflite \
    --label /opt/starflit/raspberry/python/labels.txt \
    --obj "stop sign"
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=starflit.service